

* {
    margin: 0;
    padding: 0;
    font-family: "Asta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    }

    .container {
        display :flex;        
    }
    
    .headerLogo {
        width: 100vw;
        height: 100px;
        justify-content: space-between;
        padding: 0;
        border-bottom: 2px solid #db8b23;
    }
    .logo{
        padding: 15px;
        margin-left: 10px;
        width: 100px;
        height: 100px;
        font-size: 50px;
        font-weight: bolder;
        font-style: italic;
        cursor: pointer;
        align-items: center;
    }
    .logoTitle{
        display: flex;
        font-size: 50px;
        align-items: center;
        
        
    }
    .headerLogo input{
        margin: 15px;
        padding: 3px 5px;
        border: 1px solid #db8b239d;
        border-radius: 10px;
        
    }
    
    .A4.rec{
        width: 210mm;
        height: auto;
        border: 1px solid #aaaaaa11;
        margin: 0 auto;
    }
    .title{
        font-size: 24pt;
        color:rgb(25, 139, 214);
        font-weight: 700;
        border-bottom: 2px solid rgb(25, 139, 214);
    }
    .content{
        width: 100%;
        flex-direction: column;
    }
    .contentTitle{
        margin-bottom: 10pt;
        font-size: 18pt;
        font-weight: 700;
        color:rgb(25, 139, 214);
    }
    .context.left{
        margin-left: 35px;
    }
    
    .context p{
        margin: 5px 3px 5px 3px;
    }
    .context strong,
    dt strong{
        margin-left: 15px;
        font-weight: bold;
    }
    .line {
        margin: 30px 0px;
        border: 0.5px solid rgb(25, 139, 214);
    }
    .imgBox{
        margin-left: 15px;
        width: 90px;
        height: 120px;
        overflow: hidden;
        display: block;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .myimg{
        transform: translate(3px,10px);
        width: 120%;
        height: 120%;
        object-fit: cover;
    }
    .workTitle{
        color: #333;
    }
    pre{
        margin: 5px 0px 5px 30px;
        white-space: pre-line;
        
    }
    h2{
        font-size: 22px;
        font-weight: 700;
    }
    .work-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .work-item strong{
        font-size: 18px;
        margin: 10px 5px;
    }
    .container.col{
        flex-direction: column;
        width: 50%;
        padding:10px;
    }
    .container.col.full{
        width: 100%;
        position: relative;
    }
    .imgQr{
        width: 100px;
        height: 100px;
    }
    .work-item a{
        width: 120px;
        height: 100%;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .htmltoPdfbtn{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 16px;
        gap: 10px;
    }
    .htmltoPdfbtn button{
        border: none;
        background-color: rgba(25, 138, 214, 0.808);
        padding: 2px 5px;
        color: #eee;
        border-radius: 5px;
        z-index: 100;
        cursor: pointer;
    }
    .placeholder{
        color: #ccc;
        margin-top: -10px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .prImg{
        width: 60%;
        height: auto;
    }
    dt{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    .qrImg img{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        right: 0;
    }